<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.wongxd.kotlin_tips">

    <application>

        <provider android:name="android.support.v4.content.FileProvider"
                  android:authorities="${applicationId}.fileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/kotlin_tips_file_path"/>
        </provider>

    </application>
</manifest>
